extends layout

block content
  h1 Palindrome Checker
  form(method="POST" action="/")
    label(for="userText") Enter your text here:
    br
    input(type="text" id="userText" name="userText" value=`${phrase}`)
    br
    br
    button(type="submit") Submit
  if message
    p=message
  br
  br
  h1 Examples
  h3 Step On No Pets
  br
  p Step On No Pets is a palindrome
  br
  br
  h3 Don't nod
  br
  p Don't nod is a palindrome
  br
  br
  h3 Eva, can I see bees in a cave?
  br
  p  Eva, can I see bees in a cave? is a palindrome

